---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="section-sm text-center min-h-[75vh]">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[9rem]/32 block font-bold text-text-dark dark:text-darkmode-text-dark"
          >
            404
          </span>
          <h1 class="h1 font-black capitalize">Page not found</h1>
          <div class="content">
            <p
              class="text-xl text-gray-700 dark:text-darkmode-text-light font-light"
            >
              Sorry, we couldn't find the page you were looking for. The page
              you are looking for might have been removed, had its name changed,
              or is temporarily unavailable.
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">Back to home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
