---
import GuestCard from "@/components/GuestCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry, type CollectionEntry } from "astro:content";

const COLLECTION_FOLDER = "guests";

const guestIndex = (await getEntry(
  COLLECTION_FOLDER,
  "-index"
)) as CollectionEntry<"guests">;

// Alphabetical order by guest name
const guests = await getSinglePage(COLLECTION_FOLDER);
guests.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Base title={guestIndex.data.title}>
  <PageHeader title={guestIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          guests.map((guest) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <GuestCard data={guest} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
